---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="This is my about page"
	pubDate={new Date('March 07 2026')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Hello, 

		I am Chitin. I am into religion, games, altered states of mind/existence, computer architecture, and social reorganisation.
	</p>	
	<p>
		This website is a place for me to document all the things I am learning and thinking about. It's also a bit of a fuck you to all the social media algorithmic nonsense that is shoved down my throat. 
	</p>
	<p>
		Oh also it's called "The Opt Out" because I am on a journey to understand how many aspects of life and society I can opt out of before there are real world consequences that I care about.
	</p>
</Layout>
