---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1> Hello!</h1>
			<p>
				Welcome to my blog. I am Chitin aka. The Opt Out. This is going to be the canvas to my thoughts and ideas about the world
			<p>
				So here are my current goals:
			<ul>	
				<li> Finish the FCC Python v-9 Course
				<li> Finish the FCC Pytorch Course
				<li> Learn the basics of Shell 
				<li> Learn the basics of C
				<li> Finish Reading Alan Turing: The Enigma
			</ul>
		</main>
		<Footer />
	</body>
</html>
